@import url('composant/SingleButtonHeader.css');
@import url('composant/mainImage.css');
@import url('composant/indexNetworkButtons.css');
@import url('composant/galeryImage.css');
@import url('composant/skillsPart.css');
@import url('composant/footer.css');
@import url('composant/EngineButtons.css');

*
{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}