@import url('composant/MultipleButtonsHeader.css');
@import url('composant/mainImage.css');
@import url('composant/pageNetworkButtons.css');
@import url('composant/projectExplanation.css');
@import url('composant/skillsPart.css');
@import url('composant/footer.css');
@import url('composant/EngineButtons.css');

*
{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}